$primary-color: #7001FD;
$text-color: #555555;
$secondary-color: #1E2772;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;
$danger-color: #d9534f;   // Exemplo de cor vermelha para erros/perigo
$success-color: #5cb85c;  // Exemplo de cor verde para sucesso
$border-color: #e0e0e0; 