<nav class="navegador-container">
  <div class="left-section">
    <div class="logo">
      <span>{{ title }}</span>
    </div>
  </div>

  <div class="center-section">
    <div class="perfil" *ngIf="title2">
      <span>{{ title2 }}</span>
    </div>
  </div>

  <div class="right-section">
    <div class="btn-wrapper" *ngIf="primaryBtnText">
      <button
        class="btn-primary"
        (click)="submit()" [disabled]="disablePrimaryBtn"
      >
        {{ primaryBtnText }}
      </button>
    </div>
    <div class="btn-wrapper2" *ngIf="secondaryBtnText">
      <button
        class="btn-secondary"
        (click)="navigate()" >
        {{ secondaryBtnText }}
      </button>
    </div>
  </div>
</nav>