/* src/app/components/navegador/navegador.component.scss */

@import "../../../styles/variables.scss";

.navegador-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: $secondary-color;
  color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 100%;
}

.left-section {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;

  .logo {
    span {
      font-size: 1.8em;
      font-weight: bold;
      color: $primary-color;
      white-space: nowrap;
    }
  }
}

.center-section {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto; /* Permite que o conteúdo defina a largura, mas sem crescer muito */
  display: flex; /* Adicionado: Para centralizar o conteúdo interno */
  justify-content: center; /* Adicionado: Centraliza horizontalmente */
  align-items: center; /* Adicionado: Centraliza verticalmente (se houver altura diferente) */
  padding: 0 20px; /* Adicionado: Um pouco de padding para "aumentar" visualmente o espaço */

  .perfil {
    span {
      font-size: 1.3em; /* Aumentado: Texto um pouco maior */
      font-weight: 500;
      white-space: nowrap;
    }
  }
}

.right-section {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 15px;

  .btn-wrapper, .btn-wrapper2 {
    button {
      background-color: $primary-color;
      color: white;
      font-weight: 600;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      font-size: 1em;
      cursor: pointer;
      white-space: nowrap;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-color, 5%);
      }
    }
    .btn-secondary {
      background-color: $gray-secondary-bg;
      color: $secondary-color;
      &:hover {
        background-color: darken($gray-secondary-bg, 5%);
        color: $primary-color;
      }
    }
  }
}

/* Responsividade para o Navegador */
@media (max-width: 768px) {
  .navegador-container {
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    
    .left-section, .center-section, .right-section {
      width: 100%;
      justify-content: center;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .right-section {
      flex-direction: column;
      gap: 10px;
    }
  }
}